<div id="hochzeitsduo" class="bg-musikalische-untermalung py-3">

    <div class="row pt-5 mx-auto @(!isMobile ? "fullHeight70" : "")" style="max-width: 1200px">
        <div class="col mt-2 align-self-end" style="@(!isMobile ? "max-width: 35%" : "")">
            <div class="text-black h1 pb-2 pt-5">
                <div class="character_justify" style="overflow-x: hidden">
                    Hochzeitsduo
                </div>
            </div>
            <div class="text">

                @if (isMobile)
                {
                    <div class="float-end mb-3 ms-3 align-self-end" style="max-width: 400px">
                        @*<img src="images/duo.jpg" alt="Sängerin" style="object-fit: cover; width: 100%"/>*@
                        <iframe src="https://www.youtube.com/embed/yFmY7TnAxgM" title="YouTube video player" style="border: 0; width: 100%; aspect-ratio: 16/10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                }
                
                @{
                    var hochzeitsduoTextCollapsed = "Ich singe für mein Leben gern und liebe es, die passende Musik zu Eurem Fest (kirchliche oder standesamtliche Hochzeit oder Taufe) beizusteuern. Zusammen mit der wunderschönen Stimme von meinem Gesangspartner und Pianist Christopher Edelmann, wollen wir gerne eure Herzen berühren und euer Fest noch feierlicher und professionell mitgestalten.";
                    var hochzeitsduoTextExpanded = "Wir singen im Duett aus sämtlichen Musikrichtungen mit Klavierbegleitung. Gerne senden wir euch unser Repertoire zu, auch Wunschlieder sind nach Absprache möglich.\n\nEin Stage-Piano für die Klavierbegleitung ist vorhanden und wird bei Auftritten kostenlos gestellt.";
                }

                <ExpandableText DefaultText="@hochzeitsduoTextCollapsed" ExpandedText="@hochzeitsduoTextExpanded"/>

                @if (!isMobile)
                {
                    <div class="mt-5 h5">
                        <div>Hörprobe auf <a class="link-dark" target="_blank" href="https://youtu.be/yFmY7TnAxgM">YouTube</a></div>
                    </div>
                }
            </div>
        </div>
        @if (!isMobile)
        {
            <div class="col m-0 mb-1 ms-3 mt-3 align-self-end" style="max-width: 1000px">
                @*<img src="images/duo.jpg" alt="Sängerin" style="object-fit: cover; width: 100%"/>*@
                <iframe src="https://www.youtube.com/embed/yFmY7TnAxgM" title="YouTube video player" style="border: 0; width: 100%; aspect-ratio: 16/10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        }
        else
        {
            <div class="mt-5">
                <h5>Hörprobe auf <a class="link-dark" target="_blank" href="https://youtu.be/yFmY7TnAxgM">YouTube</a></h5>
                @*<iframe src="https://www.youtube.com/embed/yFmY7TnAxgM" title="YouTube video player" style="border: 0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>*@
            </div>
        }
    </div>
</div>

<MediaQuery Media="@Breakpoints.SmallDown" @bind-Matches="isMobile"/>

@code {

    private bool isMobile;

}