@using ViewModels
<div id="preise" class="container-fluid bg-preise py-5 px-3">
    <div class="text-center pt-3">
        <h1>Preise</h1>
    </div>

    <div class="row justify-content-center mx-auto" style="max-width: 1200px">
        @foreach (var info in preisInfos)
        {
            <div class="col-md px-4" style="max-width: 400px">
                <div class="row" style="min-height: 60%">
                    <div class="col-auto text-vertical-display text-end ps-3 pe-5">
                        @info.Titel
                    </div>
                    <div class="col p-0 overflow-hidden" style="height: 100%">
                        <img src="@info.ImageSrc" alt="@info.Titel" style="object-fit: cover; width: 100%">
                    </div>
                </div>
                <div class="price-box bg-white">
                    <div class="p-2" style="font-size: .6em">
                        <p class="m-0 text text-start">
                            @info.PreisText
                        </p>
                        @if (info.VertragInfos != null)
                        {
                            <div class="text-end pt-2" style="font-size: 1em">
                                <a class="text-black button-link overflow-visible p-3" @onclick="() => info.Modal!.Open()" style="font-size: 1em; cursor: pointer">
                                    Vertragsvarianten
                                </a>
                            </div>

                            <VertragInfoModal @ref="@info.Modal" VertragInfos="@info.VertragInfos"/>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {

    private PreisInfo[] preisInfos;

    public Preise()
    {
        preisInfos = new[]
        {
            new PreisInfo
            {
                Titel = "Hochzeitsduo",
                ImageSrc = "images/IMG_2933.jpg",
                PreisText = "Gage für Duo mit Klavierbegleitung:\n200 € pro Stunde"
            },
            new PreisInfo
            {
                Titel = "Gesangscoaching",
                ImageSrc = "images/IMG_2953.jpg",
                PreisText = "Probestunde: 35 €",
                VertragInfos = new VertragInfo[]
                {
                    new() {Text = "Jahresvertrag 12 x 135 €", Titel = "46 Std. / Jahr, wöchentlich 45 Min."},
                    new() {Text = "Halbjahresvertrag 6 x 140 €", Titel = "23 Std. / 6 Monate, wöchentlich 45 Min."},
                    new() {Text = "Jahresvertrag 12 x 80 €", Titel = "24 Std. / Jahr, 2 x mtl. 45 Min."},
                    new() {Text = "Halbjahresvertrag 6 x 85 €", Titel = "12 Std. / 6 Monate, 2 x mtl. 45 Min."}
                }
            },
            new PreisInfo
            {
                Titel = "Klavierunterricht",
                ImageSrc = "images/IMG_2970.jpg",
                PreisText = "Probestunde: 30 €",
                VertragInfos = new VertragInfo[]
                {
                    new() {Text = "Jahresvertrag Erwachsene 12 x 115 €", Titel = "46 Std. / Jahr, wöchentlich 45 Min."},
                    new() {Text = "Jahresvertrag Schüler 12 x 100 €", Titel = "38 Std. / Jahr, wöchentlich 45 Min."},
                    new() {Text = "Jahresvertrag Erwachsene 12 x 77 €", Titel = "46 Std. / Jahr, wöchentlich 30 Min."},
                    new() {Text = "Jahresvertrag Schüler 12 x 70 €", Titel = "38 Std. / Jahr, wöchentlich 30 Min."}
                }
            },
        };
    }

}