<div id="ueber" class="bg-übermich py-5 d-flex justify-content-center">

    <div class="align-items-center row justify-content-center @(!isMobile ? "fullHeight90" : "") mx-auto" style="@(!isMobile ? "max-width: 900px;" : "")">
        <div class="col">
            <h1 class="text-center pb-4 ">über mich</h1>

            <div class="text">
                @if (isMobile)
                {
                    <div class="float-end ms-3 mb-3 align-self-start" style="max-width: 200px">
                        <img src="images/img_2965.jpg" alt="Jasmin Wolf" style="object-fit: cover; width: 100%"/>
                    </div>
                }

                @{
                    var ueberMichCollapsed = "Seitdem ich sechs Jahre alt bin, singe und musiziere ich leidenschaftlich gerne. Erst mit 27 Jahren begann ich mir meinen Kindheitstraum zu erfüllen, Klavier zu lernen. Ein Jahr später traf ich die Entscheidung, auf die Berufsfachschule für Musik zu gehen, um mein Hobby Musik zum Beruf zu machen.";
                    var ueberMichExpanded = "Ich hatte in der Zeit die Möglichkeit mit Schulkolleginnen ein Hochzeitstrio zu gründen und entschied mich am Ende der Ausbildung, dass ich als Musiklehrerin arbeiten wollte. Ich liebe es, Erfahrungen weiterzugeben und Menschen zu zeigen, dass es nie zu spät ist, sich seine Träume zu erfüllen.\n\nGesanglich musste ich mich nach der Schule noch auf eine längere Reise begeben, denn obwohl ich gut sang, hatte ich Stimmprobleme und konnte nicht sehr hoch singen. Eine Gesangslehrerin meinte, meine Stimme wäre „kaputt“, eine andere sagte, Sie wüsste nicht was bei mir los sei. \n\nDa ich, um mein Ziel zu erreichen, das nicht so stehenlassen konnte, machte ich mich selbst auf die Suche nach der Lösung. Zuerst fand ich eine tolle Gesangstechnik namens Speech-Level-Singing, die für mich sehr gut funktionierte. Jahre später, als ich neue Gesangs-Stilrichtungen entdecken wollte, stand ich wieder vor scheinbar unüberwindbaren Grenzen.\n\nEine erneute Suche nach der Lösung führte dazu, dass ich verstand, wie ganzheitlich die Stimme des Menschen funktioniert. Meine anschliessend vollständige „Stimmheilung“ und der Durchbruch aller Blockaden wurde ein unersetzbarer Grundstock für meine Arbeit als Gesangslehrerin. Es ist eine große Verantwortung, die Singstimme eines Menschen anvertraut zu bekommen und ich glaube mit dieser Verantwortung dank meiner eigenen überwundenen Probleme besonders gut umgehen zu können.";
                }

                <ExpandableText @bind-IsExpanded="isExpanded" DefaultText="@ueberMichCollapsed" ExpandedText="@ueberMichExpanded"/>

                @if (!isExpanded)
                {
                    <div class="d-flex">
                        <img class="mx-auto mt-3 text-center" src="images/handwriting_2.png" alt="Ich freue mich auf unsere gemeinsame Entdeckungsreise!" style="object-fit: cover; max-width: 100%; max-height: 120px"/>
                    </div>
                }
                
            </div>
        </div>
        @if (!isMobile)
        {
            <div class="col my-2 mx-4 text-center" style="max-width: 400px">
                <img src="images/img_2965.jpg" alt="Jasmin Wolf" style="object-fit: cover; width: 100%"/>
            </div>
        }
    </div>

    <MediaQuery Media="@Breakpoints.SmallDown" @bind-Matches="isMobile"/>

</div>

@code {

    private bool isExpanded;
    private bool isMobile;
}